{
  "file": "game.zip",
  "package_version": "1.0.0",
  "app_id": 12345,
  "client_id": "从开发者中心「游戏服务」→「应用配置」获取的Client_ID",
  "server_secret": "从开发者中心「游戏服务」→「应用配置」获取的server_secret",
  "chunk_size": 104857600,
  "launch_exe": "game.exe",
  "launch_args": ""
}
